* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: pink;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 30px;
    font-weight: 700;
}

.header {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    height: 60px;
}

.items {
    display: flex;
    min-height: calc(100vh - 120px);
}

.aside {
    background-color: aqua;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.article {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.figures{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.item_article {
    margin-bottom: 10px;
}

.item_figure {
    background-color: gray;
    padding: 50px 40px;
}

.footer {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    height: 60px;
}